<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body id="body">
    <form action="" method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">

        <label for="sobrenome">Sobrenome</label>
        <input type="text" name="sobrenome" id="sobrenome">
<br>
        <label for="login">CPF</label>
        <input type="text" name="cpf" id="cpf">

        <label for="cnpj">CNPJ</label>
        <input type="text" name="cnpj" id="cnpj">
<br>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">

        <label for="senha">Senha</label>
        <input type="text" name="senha" id="senha">
<br>
        <input class="button" type="submit" value="Cadastrar" class="button">
        <a href="/transaction">Transferir</a>
    </form>

</body>
</html>